
<%- include('includes/head') %>    
<%- include('includes/navbar.ejs') %>
  
<div class="container">
      <h4 class="display-1 text-center">K-Média</h4>
      <p class="h3 text-center text-secondary">Tenha mais controle em suas mãos!</p>
          
      <div class="jumbotron">
        <h1 class="display-4">Cadastre / Veja / Controle</h1>
        <p class="lead">Desenvolvido para fins de conhecimento / Sinta-se a vontade para experimentar os benefícios do K-Média!</p>
        <hr class="my-4">
        <p class="text-end">Desenvolvido por Samuel Pierre<br><i>Deus é Fiel</i>.</p>
        <a class="btn btn-primary btn-lg" href="/login/index" role="button">Cadastre-se já!</a>
      </div>
    </div>
<%- include('includes/footer') %>    
    
  